<div style="padding: 1%;">

<button style="padding: 1%; margin-left: 1%;">Save</button>
<button style="padding: 1%; margin-left: 1%;">Switch</button>
<button style="padding: 1%; margin-left: 1%;">Add Plaintext</button>
<button style="padding: 1%; margin-left: 1%;">Add Checklist</button>
<button style="padding: 1%; margin-left: 1%;">Add Label</button>


<button style="padding: 1%; margin-left: 1%; float: right;">Profile</button>
<button style="padding: 1%; margin-left: 1%; float: right;">Delete</button>
<button style="padding: 1%; margin-left: 1%; float: right;">Pin</button>
</div>