<div>
    <h2>{{ title }}</h2>
    <ul>
      @for (todo of list; track $index) {
      <li>
        @if (!todo.checked) {
          <app-todo-item contenteditableModel
          [id]="todo.id"
          [checked]="todo.checked"
          [content]="todo.content"
          (done)="handleEvent($event)"
        ></app-todo-item>
        }
      </li>
      }
    </ul>
  
  
    @if (doneCount > 0) {
      <h4>Done</h4>
    }
    <ul>
      @for (todo of list; track $index) {
        <li>
          @if (todo.checked) {
            <app-todo-item  contenteditableModel
            [id]="todo.id"
            [checked]="todo.checked"
            [content]="todo.content"
            (done)="handleEvent($event)"
          ></app-todo-item>
          }
        </li>
        }
    </ul>
  </div>
  