
<div>
  <div style="border: dashed black; padding: 1%; margin-bottom: 1%">
    <h1
      contenteditable="true"
      contenteditableModel
      [(ngModel)]="note.title"
      id="title"
    >
      {{ note.title }}
    </h1>
    <mat-icon (click)="toggleEditLabels()">edit</mat-icon>
    @if (!editingLabels) {
    <mat-chip-set (dblclick)="toggleEditLabels()" aria-label="Note labels">
      @for (label of note.labels; track $index) {
      <mat-chip>{{ label }}</mat-chip>
      }
    </mat-chip-set>
    } @else {
    <mat-form-field class="note-label-chip-list">
      <mat-label>Labels</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter labels">
        @for (label of note.labels; track $index) {
        <mat-chip-row
          (removed)="removeLabel(label)"
          [editable]="true"
          (edited)="editLabelText(label, $event)"
          [aria-description]="'press enter to edit ' + label"
        >
          {{ label }}
          <button matChipRemove [attr.aria-label]="'remove ' + label">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
        <input
          placeholder="New Label..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addNewLabel($event)"
        />
      </mat-chip-grid>
    </mat-form-field>
    }
  </div>

  <div style="border: dashed black; padding: 1%">
    <p
      contenteditable="true"
      contenteditableModel
      [(ngModel)]="note.plaintext"
      id="plaintext"
    >
      {{ note.plaintext }}
    </p>
    <app-todo-container
      id="checklist"
      [list]="note.checklist"
    ></app-todo-container>
  </div>
</div>

